@media screen and (min-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .home__container {
        grid-template-rows: 2fr .5fr;
    }
    .home__info {
        width: 328px;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    .home__info-title {
        font-size: var(--normal-font-size);
    }
    .home__info-img {
        width: 240px;
    }
}

@media (max-width:991px) {
    html {
        font-size: 60%;
    }
    .logoimg {
        width: 75px;
    }
}

@media (max-width:991px) {
    .usage .row1 {
        flex-flow: column;
    }
    .usage .row1 .divider {
        display: none;
    }
    .usage .row1 .box-container .box {
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__link {
        color: var(--white-color);
        text-transform: initial;
    }
    .nav__link:hover {
        color: var(--white-color);
    }
    .nav__dark {
        position: initial;
    }
    .nav__menu {
        display: flex;
        column-gap: 3rem;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }
    .nav__toggle, .nav__close {
        display: none;
    }
    .change-theme-name {
        display: none;
    }
    .change-theme {
        color: var(--white-color);
    }
    .active-link::before {
        background-color: var(--white-color);
    }
    .scroll-header .nav__link {
        color: var(--text-color);
    }
    .scroll-header .active-link {
        color: var(--title-color);
    }
    .scroll-header .active-link::before {
        background-color: var(--title-color);
    }
    .scroll-header .change-theme {
        color: var(--text-color);
    }
    .section {
        padding: 7rem 0 2rem;
    }
    .home__container {
        height: 100vh;
        grid-template-rows: 1.8fr .5fr;
    }
    .home__data {
        align-self: flex-end;
    }
    .home__social {
        flex-direction: row;
        align-self: flex-end;
        margin-bottom: 3rem;
        column-gap: 2.5rem;
    }
    .home__info {
        bottom: 3rem;
    }
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media(max-width: 900px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
        text-align: center;
    }
}